# Dependencies
node_modules/

backend/.env
.env
.var
vendor
composer.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/

# Metro
.metro-health-check*

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Certificates
*.pem

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
tmp/
temp/

# Expo example app
app-example/
